// -----------------------------------------------------------------------------
// This file contains all typography styling
// -----------------------------------------------------------------------------

@use "../01_abstracts/index" as *;

// Styling for headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  margin-top: 0;
}

// Paragraph styling
p {
  margin-top: 0;
  max-width: 88ch;

  // Remove empty Gutenberg Paragraphs
  &:empty {
    display: none;
  }
}

// Bold styling
strong,
body .strong {
  font-weight: bolder;
  line-height: 28px;
}

// Caption styling
.caption {
  font-size: 12px;
  font-family: var(--se--heading-font);
  margin-bottom: 0.5rem;
  display: flex;
  color: var(--wp--preset--color--dark-1);

  &.overline {
    text-transform: uppercase;
    font-weight: 500;
  }
}

body {
  // Mobile
  @include mq-max(md) {
    --wp--preset--font-size--h-1: 3rem;
    --wp--preset--font-size--h-2: 2rem;
    --wp--preset--font-size--h-3: 1.5rem;
    --wp--preset--font-size--h-4: 1.25rem;
    --wp--preset--font-size--h-5: 1.125rem;
    --wp--preset--font-size--h-6: 1rem;
    --wp--preset--font-size--body-regular: 1rem;
    --wp--preset--font-size--body-quote: 1.25rem;
  }
}
